{% extends 'base.html' %}

{% block content %}


<div id="content">

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-dark mr-5">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    

                    <!--Navbar Links-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Deliverables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Practices</a>
                            </li>
                            
                        </ul>
                    </div>

                    <!--Entry Form-->

                </div>
            </nav>


               <style type="text/css">
                    	.middle {
                    	 	width: 100%;
                    	 	text-align: center;
                    	}
                    </style>

                     	<style type="text/css">
                		.center {
                			text-align: center;
                		}
                		.center-block {
                			margin-right: auto;
                			margin-left: auto;
                		}
                	</style>                          


<!--BASIC VERSION-->
<!-- {% if all_projects %}
{% for stuff in all_projects %}

<ul>
	<li>{{ stuff.projects }}</li>
</ul>


{% endfor %}
{% endif %} -->


<!--Projects Checklist Starts-->



			<nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container-fluid">


                	<style type="text/css">
                		.center {
                			text-align: center;
                		}
                		.center-block {
                			margin-right: auto;
                			margin-left: auto;
                		}
                	</style>

                	<h3>Projects Checklist</h3>
                		
                	<div class="center-block">	
						<form class="form-inline my-2 my-lg-0" method="POST">
							{% csrf_token %}
                    		<input class="form-control mr-5 center" size="90" placeholder="Enter Project" name="projects">
                    		<button type="submit" class="btn btn-dark">Add to Projects</button>
                    	</form>
                    </div>
                    	
                </div>
            </nav>


<!--STRIKER-->
<style type="text/css">
	.striker {
		text-decoration: line-through;
	}
	.black {
		background-color: black;
		color: white;
	}
	.ivory {
		background-color: #FFFFF0;
		color: white;

	}
</style>


<div class="container">

		{% if messages %}
			  {% for message in messages %}

			      <div class="alert alert-dark alert-dismissable" role="alert">
			        <button class="close" data-dismiss="alert">
			             <sup><small>close</small></sup>
			        </button>
			           {{ message }}
			      </div>

			  {% endfor %}
		{% endif %}


	{% if all_projects %}
		<div class="container">
			<br>
      			<table class="table table-bordered">
        			<th class="table" colspan="4">Projects To Complete</th>
        			{% for stuff in all_projects %}
        				{% if stuff.projectscomplete %}

        				<tr>
        					<td class="striker">{{ stuff.projects }}</td>
        					<td><center><a href="{% url 'project_uncross' stuff.id %}">Uncross</a></center></td>
        					<td><center><a href="{% url 'project_delete' stuff.id %}">Delete</a></center></td>
        				</tr>

        				{% else %}

        				<tr>
        					<td>{{ stuff.projects }}</td>
        					<td><center><a href="{% url 'project_cross_off' stuff.id %}">Cross Off</a></center></td>
        					<td><center><a href="{% url 'project_delete' stuff.id %}">Delete</a></center></td>
        				</tr>
	        				
	        				

        				 {% endif %}
        			{% endfor %}
        		</table>
    {% endif %}
        </div> 
    </div>
  </div>
    



 {% endblock %}